.searchBar {
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    background-color: black;
    height: var(--navbar-height);
    z-index: 100;
}

input[type="text"] {
    width: 90%;
    padding: 0.25rem;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: black;
    color: white;
}


svg {
    height: 100%;
    margin-left: 1rem;
}