.searchBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 1rem var(--navbar-padding);
    background-color: black;
    height: var(--navbar-height);
    z-index: 100;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: black;
    color: white;
}


svg {
    height: 100%;
    margin-left: 1rem;
}