:root {
    --navbar-height: 10vh;
    --navbar-padding: 2rem;
    --navbar-z-index: 100;
}

.navbar {
    position: fixed;
    top: 0;
    min-width: 100%;
    max-height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    background: transparent;
    background: black;
    padding: 0 var(--navbar-padding);
    z-index: var(--navbar-z-index);
}

img {
    width: 100%;
    max-height: var(--navbar-height);
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.menuButton {
    z-index: 999;
}

.search {
    cursor: pointer;
}

.searchInv {
    visibility: hidden;
}