:root {
    --navBarHeight: 10vh;
    --navbar-padding: 2rem;
}

.navbar {
    position: fixed;
    top: 0;
    min-width: 100%;
    max-height: var(--navBarHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    background: transparent;
    background: black;
    padding: 0 var(--navbar-padding);
    z-index: 100;
}

img {
    width: 100%;
    max-height: var(--navBarHeight);
    object-fit: cover;
}

.menuButton {
    z-index: 999;
}