.foot {
    display: flex;
    min-width: 35%;
    flex-direction: column;
}

.foot img{
    margin: 0rem 1rem;
    max-height: 5rem;
    max-width: auto;
    margin: 0.5rem 0;
    object-fit: contain;
}

.title{
    display: flex;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    margin: 0 2rem;
}

.links>ul>li:nth-child(1) {
    color: gray;
}

ul {
    list-style-type: none;
}

.copyright {
    display: flex;
    width: 100%;
    justify-content: center;
}