:root {
    --test-var: blue;
    --rws-secondary: #e64e50;
    --rws-primary: #d62229;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /*size of the div includes padding, border, and margin*/
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}